# Dependencias
node_modules/
**/node_modules/

# Builds
dist/
**/dist/

# Variables de entorno (nunca commitear)
.env
**/.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker volumes locales
pgdata/
